In [ ]:
def factorial(n):
    if n < 2:
        return 1
    else:
        return n * factorial(n-1)

print(factorial(42))
factorial.__doc__
type(factorial)
help(factorial)

fact = factorial
fact
fact(5)
map(factorial, range(11))
list(map(fact, range(11)))

1405006117752879898543142606244511569936384000000000
Help on function factorial in module __main__:

factorial(n)

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [ ]:
fruits = ['strawberry', 'fig', 'apple', 'cherry', 'raspbrry', 'banana']
sorted(fruits, key=len)

def reverse(word):
    return word[::-1]

reverse('testing')

sorted(fruits, key = reverse)

['banana', 'apple', 'fig', 'raspbrry', 'strawberry', 'cherry']

In [ ]:
list(map(fact, range(6)))
[fact(n) for n in range(6)]
list(map(factorial, filter(lambda n: n % 2, range(6))))
[factorial(n) for n in range(6) if n % 2]

[1, 6, 120]

In [ ]:
fruits = ['strawberry', 'fig', 'apple', 'cherry', 'raspbrry', 'banana']

sorted(fruits, key=lambda word: word[::-1])

['banana', 'apple', 'fig', 'raspbrry', 'strawberry', 'cherry']

In [ ]:
abs,str,13
[callable(obj) for obj in (abs,str,13)]

[True, True, False]

In [ ]:
import random

class BingoCage:
    def __init__(self, items):
        self._items = list(items)
        random.shuffle(self._items)

    def pick(self):
        try:
            return self._items.pop()
        except:
            raise LookupError('pick from empty BingoCage')

    def __call__(self):
        return self.pick()

bingo = BingoCage(range(3))
bingo.pick()
bingo()
callable(bingo)
bingo()

0

In [ ]:
def tag (name, *content, cls=None, **attrs):
    """하나 이상의 HTML 태그를 생성"""
    if cls is not None:
        attrs['class'] = cls
    if attrs:
        attr_str = ''.join('%s="%s" % (attr, value)
    else:
        attr_str = ''
    if content:
        return '\n'.join('<%s%s>%s</%s>' %
                         (name, attr_str, c, name) for c in content)
    else:
        return '<%s %s />' % (name, attr_str)

tag('br')
tag('p', 'hello')
tag('p', 'hello', 'world')
tag('p', 'hello', id=33)
tag('p', 'hello', 'world', cls='sidebar')
tag(content='testing', name='img')
my_tag = {'name': 'img', 'title': 'Sunset Boulevard',
          'src': 'sunset.jpg', 'cls': 'framed'}
tag(**my_tag)

SyntaxError: unterminated string literal (detected at line 6) (<ipython-input-10-cfeaad12c8d7>, line 6)

In [ ]:
def f(a,*, b):
    return a, b

f(1, b=2)

(1, 2)

In [ ]:
def create_user(name, *,age, is_admin = False):
    print(f"Name: {name},Age: {age},Admin: {is_admin}")

create_user("Alice", age=30, is_admin = True)
create_user("Bob", 25)

Name: Alice,Age: 30,Admin: True

TypeError: create_user() takes 1 positional argument but 2 were given

In [ ]:
def clip(text, max_len=80):
    """max_len 앞이나 뒤의 마지막 공백에서 잘라낸 텍스트를 반환"""
    end = None
    if len(text) > max_len:
        space_before = text.rfind(' ', 0, max_len)
        if space_before >= 0:
            end = space_before
    else:
        space_after = text.rfind(' ', max_len)
        if space_after >= 0:
            end = space_after
    if end is None:
        end = len(text)
    return text[:end].rstrip()

    clip.__defaults__
    clip.__code__
    clip.__code__.co_varnames
    clip.__code__.co_argcount

In [ ]:
from inspect import signature

sig = signature(clip)
str(sig)
for name, param in sig.parameters.items():
    print(param.kind, ':', name, '=', param.default)

POSITIONAL_OR_KEYWORD : text = <class 'inspect._empty'>
POSITIONAL_OR_KEYWORD : max_len = 80

In [ ]:
from inspect import signature
sig = signature(tag)
my_tag = {'name': 'img', 'title': 'Sunset Boulevard',
          'src': 'sunset.jpg', 'cls': 'framed'}
bound_args = sig.bind(**my_tag)
bound_args
from name, valuew in bound_args.arguments.items():
    print(name, '=', value)
del my_tag['name']

SyntaxError: invalid syntax (<ipython-input-16-6ef320960c57>, line 7)

In [ ]:
def clip_fa(text, max_len='80'):
    end = None
    if len(text) > max_len:
        space_before = text.rfind(' ', 0, max_len)
        if space_before >= 0:
            end = space_before
    else:
        space_after = text.rfind(' ', max_len)
        if space_after >= 0:
            end = space_after
    if  end is None:
        end = len(text)
    return text[:end].rstrip()

clip_fa.__annotations__
sig2 = signature(clip_fa)
sig2.return_annotation
for param in sig2.parameters.values():
    note = repr(param.annotation).ljust(13)
    print(note, ':', param.name, '=', param.default)

<class 'inspect._empty'> : text = <class 'inspect._empty'>
<class 'inspect._empty'> : max_len = 80

In [ ]:
from functools import reduce
def fact(n):
    return reduce(lambda a, b: a*b, range(1, n+1))

fact(10)

from operator import mul
def fact(n):
    return reduce(mul, range(1, n+1))

fact(10)

3628800

In [ ]:
metro_data = [
    ('Tokyo', 'JP', 36.933, (35.689722, 139.691667)),
    ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
    ('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
    ('New York-Newark', 'US', 20.104, (40.808611, -74.020386)),
    ('Sao Paulo', 'BR', 19.649, (-23.547778, -46.635833)),
]
from operator import itemgetter
for city in sorted(metro_data, key=itemgetter(1)):
    print(city)

cc_name = itemgetter(1, 0)
for city in metro_data:
    print(cc_name(city))

('Sao Paulo', 'BR', 19.649, (-23.547778, -46.635833))
('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889))
('Tokyo', 'JP', 36.933, (35.689722, 139.691667))
('Mexico City', 'MX', 20.142, (19.433333, -99.133333))
('New York-Newark', 'US', 20.104, (40.808611, -74.020386))
('JP', 'Tokyo')
('IN', 'Delhi NCR')
('MX', 'Mexico City')
('US', 'New York-Newark')
('BR', 'Sao Paulo')

In [ ]:
from collections import namedtuple
LatLong = namedtuple('LatLong', 'lat long')
Metropolis = namedtuple('Metropolis', 'name cc pop coord')
metro_areas = [Metropolis(name, cc, pop, LatLong(lat, long))
               for name, cc, pop, (lat, long) in metro_data]
metro_areas[0]
metro_areas[0].coord.lat
from operator import attrgetter
name_lat = attrgetter('name', 'coord.lat')
name_lat(metro_areas[0])

for city in sorted(metro_areas, key=attrgetter('coord.lat')):
    print(name_lat(city))

metro_areas2 = [Metropolis(name, cc,pop, LatLong(*loc))
            for name, cc, pop, (lat, long) in metro_data]
metro_areas2[0]

('Sao Paulo', -23.547778)
('Mexico City', 19.433333)
('Delhi NCR', 28.613889)
('Tokyo', 35.689722)
('New York-Newark', 40.808611)

NameError: name 'loc' is not defined

In [ ]:
from operator import methodcaller
s = 'The time has come'
upcase = methodcaller('upper')
upcase(s)
s.upper()
hiphenate = methodcaller('replace', ' ', '-')
hiphenate(s)

'The-time-has-come'

In [ ]:
from operator import mul
from functools import partial
triple = partial(mul, 3)
triple(7)
list(map(triple, range(1, 10)))

[3, 6, 9, 12, 15, 18, 21, 24, 27]

In [ ]:
import unicodedata
nfc = partial(unicodedata.normalize, 'NFC')
s1 = 'café'
s2 = 'cafe\u0301'
s1, s2
s1 == s2
nfc(s1) == nfc(s2)
picture = partial(tag, 'img', cls='pic-frame')
picture(src='wumpus.jpeg')
tag , picture, picture.functions, picture.args, picture.keywords

NameError: name 'partial' is not defined